
$green: #EEFAF8;
$grey: #B6BABB;

@font-face {
  font-family: 'Geomanist Regular';
  src: url('../fonts/Geomanist_Regular/Geomanist_Regular_Webfontkit/geomanist-regular-webfont.ttf');
}

body, html {
  background-color: $green;
  font-family: 'Geomanist Regular', 'Arial';
}

.contributors-list {
  @extend .container;
  .contributor {
    display: inline-block;
    padding: 20px;
    color: $grey;
    .avatar {
      border-radius: 50%;
    }
  }
}
